@use "./abstracts" as a;

:root {
  font-family: inter;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: a.$grey-900;
  color: a.$white;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.social-links-profile {
  background-color: a.$grey-800;
  text-align: center;
  padding: 20px 30px 20px 30px;

  &-name {
    font-size: 1.4em;
    font-weight: 600;
    margin: 0;
    padding: 15px 0 10px 0;
  }

  &-photo {
    border-radius: 100px;
    max-width: 30%;
  }

  &-place {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    color: a.$green;
  }

  &-description {
    font-size: 0.8em;
    font-weight: light;
    margin: 20px 12px;
    padding: 0 px;
  }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-element {
      background-color: a.$grey-700;
      border-radius: 5px;
      padding: 13px 0;
      margin: 15px 0;
      width: 100%;
      font-size: 0.8em;
      font-weight: 600;
      color: a.$white;
    }
    &-element:hover {
      background-color: a.$green;
      color: a.$grey-900;
    }
  }
}
