@font-face {
  src: url("/assets/fonts/static/Inter-Regular.woff") format("woff");

  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
}
@font-face {
  src: url("/assets/fonts/static/Inter-SemiBold.woff") format("woff");

  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
}
@font-face {
  src: url("/assets/fonts/static/Inter-Bold.woff") format("woff");

  font-family: "Inter";
  font-weight: 700;
  font-size: 1rem;
}
